 

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBold.woff') format('woff'),
		url('../fonts/yekanbakh/woff2/YekanBakh-SemiBold.woff2') format('woff2');
}

 


button:focus, 
a:focus {
  outline: none;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow: hidden;
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;

}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.875em;
}

p {
	font-size: 0.875em;
}

article {
	margin-bottom: 20px;
}





#infoModal {
	position: fixed;
	top: 50%;
	left: 50%;
	flex-flow: column wrap;
	transform: translate(-50%, -50%) scale(0.7);
	width: 80vw;
	height: 80vh;
	box-sizing: border-box;
	padding: 16px;
	backdrop-filter: blur(92px);
	border-radius: 16px;
	border: #A3BAD3 1px solid;
	z-index: 999;
	opacity: 0;
	display: none;
	transition: opacity 0.4s ease;
}



#topMenuList {
	margin: 0;
	padding: 0;
	/* display: flex; */


	list-style: none;



}

.side-nav {
	z-index: 999999999;
	border-radius: 12px;
	margin: 10px;
}

 
.burger-menu {
	width:430px !important;
	height: 30px;
	line-height: 15px;
	z-index: 9999999;
}
/* @media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
} */
.open-btn,.close-btn{
width: 50px;
}
.close-btn{
	position: absolute;
	left: 250px;
}

/* برای نسخه موبایل */


a {
	color: black;


}

a:active {
	color: white;
}


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	color: #ffffff;
	text-align: center;
	padding: 8px;
	z-index: 100;
}




button.close-modal {
	/* background-color: #ED4714;
    color: white; */
	/* /* border: 1px #ff3c00 solid; */
	border-radius: 100%;
	width: 38px;
	height: 38px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99999;

}

button.close-modal:hover {
	background-color: white;
	color: #ff3c00;
}


.container {
 
	height: 400px;
 
	max-width: 960px;

	padding: 20px;
	text-align: center;

 
}

#icons-container {
 margin-top: 25px; 
 
 
	padding:17px;
	right: 0;
 
	 
}

 



/* windows controler */
/* pc size done */
#menu-controls {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 33;
}

#menu-controls button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transition: all 0.2s ease-out;
}

#menu-controls button:hover {
	color: white;
	transform: scale(1.2);
}






/* Item Grid */
.item-wrapper {
	width: 80px;
	height: 80px;
	float: left;
	margin: 20px;
	color: #000;
}

.item {
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	cursor: pointer;


}

.item-wrapper:hover {
	color: white;
}

.item-wrapper:hover img {
	border-radius: 2px;
	transform: translateY(5px);
}

.item img {
	transition: all 0.1s ease-in-out;
	width: 80px;
	height: 80px;
	border-radius: 12px;
}

.item-title {
	transition: all 0.1s ease-in-out;
	font-size: 16px;
	font-weight: bold;
	width: 80;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;



}




 

.blur-container {
	position: relative;
	width: 350px;
	height: 280px;

}


.plate-logo {

	width: 20px;
	height: 22px;
}

#preloader {
	position: fixed;
	inset: 0;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;

}