/**
*
*	Name:			Yekan Bakh Fonts
*	Version:			3.1
*	Author:			Reza Bakhtiarifard, Majan Jafarzadeh
*	Created on:		Oct 2024
*	Updated on:		Oct 2024
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
ÙÙˆÙ†Øª ÛŒÚ©Ø§Ù†â€ŒØ¨Ø® ÛŒÚ© Ù†Ø±Ù… Ø§ÙØ²Ø§Ø± Ù…Ø§Ù„Ú©ÛŒØªÛŒ Ù…Ø­Ø³ÙˆØ¨ Ù…ÛŒ Ø´ÙˆØ¯. Ø¬Ù‡Øª Ø¢Ú¯Ø§Ù‡ÛŒ Ø§Ø² Ù‚ÙˆØ§Ù†ÛŒÙ† Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø§ÛŒÙ† ÙÙˆÙ†Øª Ù‡Ø§ Ù„Ø·ÙØ§ Ø¨Ù‡ ÙˆØ¨ Ø³Ø§ÛŒØª (ÙÙˆÙ†Øª Ø§ÛŒØ±Ø§Ù† Ø¯Ø§Øª Ú©Ø§Ù…) Ù…Ø±Ø§Ø¬Ø¹Ù‡ Ù†Ù…Ø§ÛŒÛŒØ¯
--------------------------------------------------------------------------------------
Yekan Bakh fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: 100;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ThinExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ThinExtraCondensed.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: 300;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-LightExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-LightExtraCondensed.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: normal;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-RegularExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-RegularExtraCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: 600;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBoldExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBoldExtraCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: bold;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BoldExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BoldExtraCondensed.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: 800;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBoldExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBoldExtraCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: 900;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BlackExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BlackExtraCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraCondensed;
	font-style: normal;
	font-weight: 950;
	font-stretch: extra-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlackExtraCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlackExtraCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: 100;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ThinCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ThinCondensed.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: 300;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-LightCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-LightCondensed.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: normal;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-RegularCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-RegularCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: 600;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBoldCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBoldCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: bold;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BoldCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BoldCondensed.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: 800;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBoldCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBoldCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: 900;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BlackCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BlackCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Condensed;
	font-style: normal;
	font-weight: 950;
	font-stretch: condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlackCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlackCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: 100;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ThinSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ThinSemiCondensed.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: 300;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-LightSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-LightSemiCondensed.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: normal;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-RegularSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-RegularSemiCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: 600;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBoldSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBoldSemiCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: bold;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BoldSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BoldSemiCondensed.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: 800;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBoldSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBoldSemiCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: 900;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BlackSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BlackSemiCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiCondensed;
	font-style: normal;
	font-weight: 950;
	font-stretch: semi-condensed;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlackSemiCondensed.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlackSemiCondensed.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 100;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-Thin.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 300;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-Light.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-Regular.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBold.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-Bold.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 800;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBold.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 900;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-Black.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 950;
	font-stretch: normal;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlack.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlack.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: 100;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ThinSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ThinSemiExpanded.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: 300;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-LightSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-LightSemiExpanded.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: normal;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-RegularSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-RegularSemiExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: 600;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBoldSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBoldSemiExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: bold;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BoldSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BoldSemiExpanded.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: 800;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBoldSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBoldSemiExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: 900;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BlackSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BlackSemiExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh SemiExpanded;
	font-style: normal;
	font-weight: 950;
	font-stretch: semi-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlackSemiExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlackSemiExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: 100;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ThinExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ThinExpanded.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: 300;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-LightExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-LightExpanded.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: normal;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-RegularExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-RegularExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: 600;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBoldExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBoldExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: bold;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BoldExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BoldExpanded.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: 800;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBoldExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBoldExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: 900;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BlackExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BlackExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh Expanded;
	font-style: normal;
	font-weight: 950;
	font-stretch: expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlackExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlackExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: 100;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ThinExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ThinExtraExpanded.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: 300;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-LightExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-LightExtraExpanded.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: normal;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-RegularExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-RegularExtraExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: 600;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-SemiBoldExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-SemiBoldExtraExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: bold;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BoldExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BoldExtraExpanded.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: 800;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBoldExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBoldExtraExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: 900;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-BlackExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-BlackExtraExpanded.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh ExtraExpanded;
	font-style: normal;
	font-weight: 950;
	font-stretch: extra-expanded;
	src: url('../fonts/yekanbakh/woff/YekanBakh-ExtraBlackExtraExpanded.woff') format('woff'),   
	url('../fonts/yekanbakh/woff2/YekanBakh-ExtraBlackExtraExpanded.woff2') format('woff2');		 
}



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;

}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

article {
    margin-bottom: 20px;
}





#infoModal {
    position: fixed;
    top: 50%;
    left: 50%;
    flex-flow: column wrap;
    transform: translate(-50%, -50%) scale(0.7);
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
    padding: 16px;
    backdrop-filter: blur(92px);
    border-radius: 16px;
    border: #A3BAD3 1px solid;
    z-index: 999;
    opacity: 0;
    display: none;
    transition: opacity 0.4s ease;
}

 

#topMenuList {
    margin: 0;
    padding: 0;
    /* display: flex; */
  
 
    list-style: none;
	 

 
}


nav {
    position: fixed;  /* ثابت نگه داشتن نوار */
    top: 0;  /* همیشه در بالای صفحه */
    left: 0;
   
    background-color:transparent;
    z-index: 1000;
    padding: 12px;
  
    transition: all 0.3s ease;
}

/* برای نسخه موبایل */
 

#topMenuList li a {
    color: black;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 12px;
    transition: all 0.3s;
	margin: 2px;
	padding: 2px;
}

#topMenuList li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #333;
    text-align: center;
    padding: 8px;
    z-index: 100;
}

#a {
    position: absolute;
    top: -262px;
    left: -1px;

}


button.close-modal {
    background-color: #ED4714;
    color: white;
    border: 1px #ff3c00 solid;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;

}

button.close-modal:hover {
    background-color: white;
    color: #ff3c00;
}


.container {
    direction: ltr;
    height: 400px;
    overflow: hidden;
    max-width: 960px;
    margin: auto;
    padding: 20px;
    text-align: center;
	
background-color: #A3BAD3;
}
#icons-container{
 
	width: 80%;
	height: 100%;
	position: relative;
	margin-left: 100px;
}
#icons-container::after{
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	border:0.5px solid aquamarine; ;
}
/* Item Grid */
.item-wrapper {
    width: 80px;
    height: 80px;
    float: left;
    margin: 20px;
	color: #000;
}

.item {
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
	cursor: pointer;
	

}
.item-wrapper:hover{ 
 color: white;
}
.item-wrapper:hover img{ 
	border-radius: 2px;
	transform: translateY(5px);
   }
.item img {
	transition: all 0.1s ease-in-out;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}

.item-title {
	transition: all 0.1s ease-in-out;
    font-size: 16px;
    font-weight: bold;
    width: 80;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
 



}






.blur-container {
    position: relative;
    width: 350px;
    height: 280px;

}

 

#preloader {
    position: fixed;
    inset: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}